@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto&display=swap');

body {
    background-color:white;
    color: black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    padding:2em;
  }
  
h1 {
    color: #1b4965;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.4em;
    padding: 1.2em 0 0 0;
}

h1:first-of-type {
    padding-top: 10px;
  }

nav h1 {
    color: #1b4965;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

.subheader {
    font-size: .7em;
}

h2 {
    font-size: 1.8em;
    padding: 9px 0px;
}

p {
    padding-bottom: 13px;
}

a {
    color:#ffa62b;
    text-decoration: none;
}

.header-highlight {
    color: #ffa62b;
}

.img-left, .img-right {
    border: 1px solid black;
}

.img-right {
    float: right;
    margin-left: 15px;
}

.img-left {
    float: left;
    margin-right: 15px;
}

.wrapper {
    margin-top: 2em;
    margin: auto;
    width: 60%;
    display: flex;  
    flex-flow: row wrap;
    border: 1px solid black;
}

.wrapper > * {
    padding: 15px;
    flex: 1 100%;
}

.header {
    background: #1b4965;
    color:  white;
    font-size: 2.5em;
    text-align: center;
}

.footer {
    color:  white;  
    background: #1b4965;
    text-align: center;
}

.main {
    text-align: left;
    background:#ede7e3;
    line-height: 1.6;
    padding: 30px;
}

.aside-1, .nav {
    background: #dfd4cd;
    margin: 0px;
}

nav {
    position: sticky;
    line-height: 1.6em;
    top: 40px;
}

nav li:first-of-type {
    padding-top: 20px;
  }

nav a {
    display: block;
    padding: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  
nav a:hover {
    background: #1b4965;
    color: white;
}
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 2.5;}
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .footer  { order: 3; }
  }